<!DOCTYPE html>
<html>
  <head>
    <title>Lagerd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta property="og:title" content="Lagerd.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Lagerd is a beer-focused social media app inspired by Untappd.  It allows for community and beer tracking with a clean, easy to use interface." />
    <meta property="og:image" content="<%= image_url("lagerd_feed.png") %>" />

    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('beer-fav.png') %>
    <script>
      window.defaultBeerPNG = "<%= image_url("default_beer.png") %>"
      window.defaultCheckinImg = "<%= image_url("camera-icon.png") %>"
      window.fullCap = "<%= image_url("full_cap.png") %>"
      window.threeQuartersCap = "<%= image_url("three_fourths_cap.png") %>"
      window.halfCap = "<%= image_url("half_cap.png") %>"
      window.quarterCap = "<%= image_url("quarter_cap.png") %>"
      window.emptyCap = "<%= image_url("empty_cap.png") %>"
    </script>
    <script src="https://kit.fontawesome.com/716df1051f.js" crossorigin="anonymous"></script>
  </head>

  <body >
    <%= yield %>
  </body>
</html>
