<!DOCTYPE html>
<html>
  <head>
    <title>Lagerd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('beer-fav.png') %>
    <script>
      window.defaultBeerPNG = "<%= image_url("default_beer.png") %>"
      window.defaultCheckinImg = "<%= image_url("camera-icon.png") %>"
      window.fullCap = "<%= image_url("full_cap.png") %>"
      window.threeQuartersCap = "<%= image_url("three_fourths_cap.png") %>"
      window.halfCap = "<%= image_url("half_cap.png") %>"
      window.quarterCap = "<%= image_url("quarter_cap.png") %>"
      window.emptyCap = "<%= image_url("empty_cap.png") %>"
    </script>
    <script src="https://kit.fontawesome.com/716df1051f.js" crossorigin="anonymous"></script>
  </head>

  <body >
    <%= yield %>
  </body>
</html>
